<div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">My Sidebar</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>

        </ul>
      </div>
      <div class="col-md-9">
        <!-- Main content goes here -->
      </div>
    </div>
  </div>
  